<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.azim.techxnoss.covid_19_kenya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".VolleyController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/laucher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity android:name=".SettingMoreActivity"></activity>
        <activity android:name=".SettingsActivity" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity android:name=".StatsActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrecautionsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>